<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/assets/images/Q.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <title>Quesio | Question Paper</title>
  <link rel="stylesheet" href="/assets/vendors/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script src="questions.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>

<body style="background-image: linear-gradient(45deg, #c395e5, #6206a8)">
  <main>
    <div class="container">
      <div class="container d-flex justify-content-center mt-5 mb-5">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-end">
            <div class="text-right mb-3">
              <button class="btn text-dark" style="background-color: white" id="download">
                Download Question Paper (PDF)
              </button>
            </div>
            <div class="mx-3 text-right mb-3">
              <button class="btn" id="back" style="background-color: white">
                <a href="/" class="text-dark text-decoration-none">Back To Home</a>
              </button>
            </div>
          </div>
          <div class="col-md-12 pt-4">
            <div class="card" id="questions">
              <div class="card-header bg-transparent header-elements-inline" style="border: none;">
                <h2 class="card-title text-primary pt-2 text-dark text-center">
                  Question Paper
                </h2>
                <div class="d-flex mt-4">
                  <div class="col-md-6">
                    <div class="mb-2">
                      <p class="">Date : <%= date%>
                      </p>
                    </div>
                    <div class="mb-2">
                      <p class="">Max Marks : <%=totalquestions *marks%>
                      </p>
                    </div>
                    <div class="mb-2">
                      <p class="">University : Mumbai University </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-2">
                      <p class="">Subject Name : <%=subject %>
                      </p>
                    </div>
                    <div class="mb-2">
                      <p class="">Branch : <%=branch %>
                      </p>
                    </div>
                    <div class="mb-2">
                      <p class="">Duration : <%=timeduration %> min
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <% myeasy.forEach(function(data){ %>
                  <hr>
                  <div class="row p-3">
                    <div class="col-md-12">
                      <div class="mb-2">
                        <p class=""><span class="font-weight-bold">
                            <%=count %>
                          </span>) <%= data.question %>
                        </p>
                        <ul class="list list-unstyled mb-0 text-left">
                          <% data.options.forEach(function(option,index){ %>
                            <li>Option 
                              <%= index+1 %> ) <%= option %>
                            </li>
                            <% }) %>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <% count++; }) %>
                    <% mymedium.forEach(function(data,index){ %>
                      <hr>
                      <div class="row p-3">
                        <div class="col-md-12">
                          <div class="mb-2">
                            <p class=""><span class="font-weight-bold">
                                <%=count %>
                              </span>) <%= data.question %>
                            </p>
                            <ul class="list list-unstyled mb-0 text-left">
                              <% data.options.forEach(function(option,index){ %>
                                <li>Option 
                                  <%= index+1 %> ) <%= option %>
                                </li>
                                <% }) %>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <% count++; }) %>
                        <% myhard.forEach(function(data,index){ %>
                          <hr>
                          <div class="row p-3">
                            <div class="col-md-12">
                              <div class="mb-2">
                                <p class=""><span class="font-weight-bold">
                                    <%=count %>
                                  </span>) <%= data.question %>
                                </p>
                                <ul class="list list-unstyled mb-0 text-left">
                                  <% data.options.forEach(function(option,index){ %>
                                    <li>Option 
                                      <%= index+1 %> ) <%= option %>
                                    </li>
                                    <% }) %>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <% count++; }) %>

              </div>
            </div>
            <div class="card p-2 my-2">
              <span class="text-dark">This Question Paper Is Generated Using Quesio. Misuse Of This Question
                Paper May Lead To Legal Action.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="assets/vendors/jquery/jquery.min.js"></script>
  <script src="assets/vendors/popper.js/popper.min.js"></script>
  <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    window.onload = function () {
      document.getElementById("download").addEventListener("click", () => {
        const questions = this.document.getElementById("questions");
        console.log(questions);
        console.log(window);
        var opt = {
          margin: 1,
          filename: "Question-Paper.pdf",
          image: { type: "jpeg", quality: 0.98 },
          html2canvas: { scale: 2 },
          jsPDF: { unit: "in", format: "letter", orientation: "portrait" },
        };
        html2pdf().from(questions).set(opt).save();
      });
    };

  </script>

</body>

</html>